body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.desktop-1 {

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 1330px;
    height: 650px;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

.rectangle-5 {
    background-image: url('picture/img5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    position: absolute;
    width: 1300px;
    height: 650px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: fit-content;
    box-sizing: border-box;
}

.rectangle-4 {
    mix-blend-mode: hard-light;
    background: #000000;
    margin-bottom: 225px;
    align-self: flex-end;
    width: 1300px;
    height: 80px;
}

.frame-15 {
    position: absolute;
    left: 450px;
    bottom: 450.5px;
    display: flex;
    box-sizing: border-box;
}

.name-of-the-customer,
.environment,
.submit,
.tms-app-configuration-1,
.admin,
.customer-name,
.customer-name-1,
.three {
    overflow-wrap: break-word;
    font-family: 'Inria Sans';
    font-weight: 300;
    color: #000000;
}

.name-of-the-customer,
.J_ID,
.Upgraded_Memory{
    font-size: 18px;
}

input{
   width: 175px;
   height: 22px;
}

.tms-app-configuration-1 {
    font-size: 25px;
    color: #FFFFFF;
}



.customer-name,
.customer-name-1 {
    font-size: 16px;
    color: #141414;
}

.three {
    font-weight: 700;
    font-size: 22px;
    color: #1CADFF;
}

.rectangle-2-rectangle-1 {
    display: flex;
    align-self: flex-start;
    width: 300px;
    height: 515px;
    box-sizing: border-box;
}

.blue-yonder-logo-1 {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 100px;
    height: 30px;
}

.tms-app-configuration {
    position: absolute;
    top: 28px;
    right: 472.2px;
    display: flex;
    box-sizing: border-box;
}

.img-51 {
    mix-blend-mode: soft-light;
    position: absolute;
    left: 0px;
    right: 7px;
    bottom: -10px;
    height: 1024px;
    width: 1440px;
}

.frame-22 {
    position: absolute;
    top: 436px;
    right: 600px;
    display: flex;
    
}
button{
    width: 80px;
    height: 40px;
    top: 420px;
    left: 440px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 30px 30px 30px 30px;
    background: #100f0fff;
    box-sizing: border-box;
    border-left: 1px solid #fffdfdff;
    border-right: 1px solid #fffdfdff;
    border-top: 1px solid #fffdfdff;
    border-bottom: 1px solid #fffdfdff;
    font-size: calc(11 * var(--ratio));
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    line-height: calc(16 * var(--ratio));
    color: rgb(255, 255, 255);
    border-color: #ffffffff;
    
}
button:hover {background-color: #000000;}
button:active {
    background-color: #000000;
    box-shadow:0 5px #666;
    transform: translateY(4px);
}

.frame-24 {
    position: absolute;
    left: 450px;
    bottom: 370.5px;
    display: flex;
    box-sizing: border-box;
}

.frame-34 {
    position: absolute;
    left: 450px;
    bottom: 290.5px;
    display: flex;
    box-sizing: border-box;
}

.component-1 {
    background: #000000;
    position: absolute;
    left: 45px;
    top: 130px;
    display: flex;
    padding: 6px;
    box-sizing: border-box;
}

.frame-28 {
    position: absolute;
    top: 4px;
    right: 25px;
    display: flex;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}



.ellipse-1 {
    width: 150px;
    height: 60px;
}


.frame-29 {
    width: 40px;
    height: 10px;
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    top: 62px;
    right: 32px;
    display: flex;
    padding: 5px 10px 5px 10px;
    
}



.envi {
    position: relative;
    display: inline-block;
    left: 630px;
    bottom: 560.5px;
}


.textBox {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}
