@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Port+Lligat+Sans&family=Sansita:ital,wght@0,800;0,900;1,700;1,800;1,900&display=swap');
 



.navbar-brand{
    width:200px;
    height: 50px;
    overflow: hidden;
    opacity: 1;
}

.logo{
    width: 120px;
    height: 30px;
    position: relative;
    top:2px ;
}


.heading {
    color: rgb(5 185 241); 
    font-size: 24px; /* Optimal size for headings */
	
	font-family: "Roboto", "Helvetica", "Arial", "Roboto Mono", sans-serif; /* Modern and clean font family */
}



.navbar-expand-sm{
    background-color: #f6f8f8;
    opacity: 1;
    position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter:blur(3px);
}

body{
    transition: background-color .5s;
	linear-gradient(to bottom, #f5f5f5 0%, #eaeaeb 42%, #d6d6d7 50%, #cbcbcd 75%, #bebec1 92%, #bebec1 100%)
}

.backgroundimg {
	background-image: url("picture/blue_2.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#f6f8f8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
	font-family:'roboto', serif; 
    color: #000000;
    display: block;
    transition: 0.3s;
	
  }
  
  .Title{
	position:relative;
	top:30px;
  }
  
  .sidenav a:hover{
    color: #000000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 18px;}
  }
  
  Title {
    position: relative;
    top: 40px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px; /* Add margin for some spacing from the sides */
}

.Title a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.Title a:hover {
    background-color: #e0e0e0;
    color: #000000;
}

.Title i {
    margin-right: 10px; /* Spacing between icon and text */
}
.Nav {
    color: rgb(82, 195, 230);
    position: absolute;
    left: 10px;
    top: 65px;
}

.frame32 {
    width: 450px;
    height: 210px;
    background-color: rgba(241, 241, 241, 0.6);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 650px;
    transform: translateX(-50%);
    padding: 20px;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.card {
    border: none;
	background: rgba(255, 255, 255, 0.3);
	 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	 border-radius: 10px;
}

.nameofthecustomer2, .server {
    font-size: 14px;
	font-family: "Roboto", "Helvetica", "Arial", "Roboto Mono", sans-serif;
    color: #000000;
    margin-right: 10px;
    font-weight: bold;
    position: relative;
    top: 10px;
	padding: 10px;
}

.rectangle6 {
    flex-grow: 1;
    width: 100px;
}

.dropdown {
    position: relative;
    width: 100%;
    font-size: 12px;
    right: -2px;
	
}

.drop {
    position: relative;
    width: 100%;
   
}

.customer-textBox, .environment-textBox {
    width: 90%;
    padding: 5px;
    font-size: 13px;
    right: 5px;
}

.dropdown-content, .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    font-size: 12px;
    font-family: 'roboto', serif;
	font-weight:bold;
}

.dropdown-menu {
    font-size: 12px;
    font-family: 'roboto', serif;
}

.dropdown-content div, .drop-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    cursor: pointer;
}

ul {
    font-size: 12px;
   font-family: 'roboto', serif;
}

.dropdown-content div:hover, .drop-content div:hover {
    background-color: #f1f1f1;
}
.frame22-2{
	width: 20px;
    margin-top: 40px;
	border-radius: 30px;
}

.frame22 {
	color: #080808;
    width: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 175px;
    border-radius: 30px;
}
.cust{
	width: 160px;
    height: 35px;
    background-color: #ffffff;
    color: #080808;
    border: 1px solid #fffdfdff;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'roboto', serif;
    cursor: pointer;
}

.btn-light {
    width: 160px;
    height: 35px;
    background-color: #ffffff;
    color: #080808;
    border: 1px solid #fffdfdff;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'roboto', serif;
    cursor: pointer;
}

.btn-light:hover {
    background-color: #f1f1f1;
}

.btn-light:active {
    background-color: #f1f1f1;
}

button:hover {
    background-color: #000000;
}

button:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-outline-dark {
    width: 160px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #fffdfdff;
    border-radius: 30px;
    font-size: 14px;
	font-weight:bold;
    text-align: center;
    cursor: pointer;
    font-family: 'roboto', serif;
}

.bx {
    position: relative;
    top: 1px;
    left: -5px;
}

/* loading animation */
* {
    margin: 0;
    padding: 0;
}

.loading-screen {
    width: 1330px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: absolute;
    top: -10px;
    left: -10px;
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.loading {
    width: 85px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading span {
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 3px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #0bdaff;
    transform-origin: bottom right;
}

.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #0bdaff;
    transform-origin: bottom left;
    animation-delay: 0.5s;
}

.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #0bdaff;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #0bdaff;
    transform-origin: top left;
    animation-delay: 1s;
}

.heading-container {
    display: flex;
    align-items: right-side;
    justify-content: center;
    padding: 5px;
    background-color: #f6fcff;
    
}

.icon-container {
    margin-right: 9px;
}

.heading-text {
    color: rgb(82, 195, 230); /* Light blue color */
    font-size: 28px; /* Larger font size */
    font-family: "Roboto", "Helvetica", "Arial", "Roboto Mono", sans-serif; /* Unique, tech-savvy font */
    font-weight: 700; /* Bold text */
     /* Uppercase for a formal look */
     /* Increased spacing for clarity */
     /* Shadow for depth */
    margin: 5; /* Remove default margin */
}

.btn-outline-light {
  color: black;
  border-color: black;
  padding: 5px 10px;
  font-size: 12px;
}


:root {
	--gray-base: #202430;
	--gray-shade-60: #13161D;
	--gray-tint-30: #63666E;
	--gray-tint-50: #909298;
	--gray-tint-80: #D2D3D6;
	--gray-alpha-80: rgb(32 36 48 / .8); /* CSS Colors Level 4 */
	--gray-tint-90: #E9E9EA;

	--white-base: #fff;
	--primary-base: #358FE6;

	--extras-sun: #FFD371;
	--extras-moon: #7190FF;
	--extras-black-alpha-64: rgb(0 0 0 / .64);
	--extras-white-alpha-64: rgb(255 255 255 / .64);
}

:root[data-theme="dark"] {
	--main-header-bg: var(--gray-shade-60);
	--top-bar-icon-fill: var(--gray-tint-80);
	--sidebar-bg: var(--gray-base);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--white-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--white-base);
	--sidebar-menu-heading-color: var(--gray-tint-30);
	--theme-switcher-bg: var(--gray-shade-60);
	--theme-switcher-indicator: var(--extras-moon);
	--theme-switcher-indicator-pos: 3.25rem;
	--sun-icon-fill: var(--gray-tint-30);
	--moon-icon-fill: var(--extras-white-alpha-64);
	--main-header-link-color: var(--gray-tint-80);
}

:root[data-theme="light"] {
	--main-header-bg: var(--gray-tint-80);
	--top-bar-icon-fill: var(--gray-base);
	--sidebar-bg: var(--gray-tint-90);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--gray-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--gray-base);
	--sidebar-menu-heading-color: var(--gray-tint-50);
	--theme-switcher-bg: var(--gray-tint-80);
	--theme-switcher-indicator: var(--extras-sun);
	--theme-switcher-indicator-pos: .25rem;
	--sun-icon-fill: var(--extras-black-alpha-64);
	--moon-icon-fill: var(--gray-tint-50);
	--main-header-link-color: var(--gray-base);
}



/* ================================================= */
/* General styles */
/* ================================================= */
html {
	font-size: 100%;
	line-height: 1.4;
}

body {
	font-family: 'Figtree', sans-serif;
	color: var(--gray-base);
}



/* ================================================= */
/* Main header */
/* ================================================= */
#main-header {
	background-color: #f6fcff;
	padding: 1rem 1.5rem;
	transition: background-color .4s ease-in-out;
}

#main-header nav,
#main-header ul,
#main-header a {
	display: flex;
	align-items: center;
}

#main-header nav {
	justify-content: space-between;
}

#main-header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
}

#main-header svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--top-bar-icon-fill);
	transition: fill .4s ease-in-out;
}

#main-header__sidebar-toggle {
	appearance: none;
	background-color: transparent;
	border: none;
}

#toggle-icon-close,
body.sidebar-open #toggle-icon-menu {
	display: none;
}

body.sidebar-open #toggle-icon-close {
	display: block;
}

#main-header__logo,
#main-header a span {
	display: none;
}



/* ================================================= */
/* Main */
/* ================================================= */
#main {
	position: relative;
}



/* ================================================= */
/* Sidebar */
/* ================================================= */
#sidebar {
	background-color: #f6fcff;
	padding: 0rem 0 1.5rem 1.5rem;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 0rem;
	min-height: 100%;
	align-items: flex-start;
	transform: translate3d(-100%, 0, 0);
	transition: transform .4s ease-in-out, background-color .4s ease-in-out;
        transform: none;
        padding-bottom: 500px;
}

#sidebar svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--sidebar-icon-fill);
	transition: fill .4s ease-in-out;
}

#sidebar__collapse {
	display: none;
}

#sidebar__nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar__nav ul a {
	display: flex;
	padding: .75rem 0;
	gap: .75rem;
	align-items: center;
	text-decoration: none;
	color: var(--sidebar-link-color);
	padding-right: 3rem;
	transition: color .3s ease-in-out;
}

#sidebar__nav ul a.active {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a.active svg {
	fill: var(--sidebar-icon-active-fill);
}

#sidebar__nav ul a:hover {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a:hover svg {
	fill: var(--sidebar-icon-active-fill);
}

.menu-heading {
	color: var(--sidebar-menu-heading-color);
	font-size: 81.25%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: .75rem 0;
}

#sidebar__theme-switcher {
	background-color: var(--theme-switcher-bg);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 0.875rem;
	gap: 1.75rem;
	position: relative;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}

#sidebar__theme-switcher::before {
	content: '';
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--theme-switcher-indicator);
	border-radius: 50px;
	z-index: 0;
	left: 0;
	transform: translateX(var(--theme-switcher-indicator-pos));
	transition: transform .4s ease-in-out;
}

#sidebar__theme-switcher svg {
	z-index: 1;
}

#sidebar #sidebar__theme-switcher__sun {
	fill: var(--sun-icon-fill);
}

#sidebar #sidebar__theme-switcher__moon {
	fill: var(--moon-icon-fill);
}

#overlay {
	position: absolute;
	inset: 0;
	background-color: var(--gray-alpha-80);
	opacity: 0;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	overflow: hidden;
	visibility: hidden;
}

body.sidebar-open #overlay {
	opacity: 1;
	visibility: visible;
}

body.sidebar-open #sidebar {
	transform: translate3d(0, 0, 0);
}



/* ================================================= */
/* Main content */
/* ================================================= */
#main-content {
	padding: 1.5rem;
}

#main-content__container {
	border: var(--gray-tint-50) 1px dashed;
	border-radius: 8px;
	height: calc(41vh + 10rem);
	display: grid;
	place-content: center;
}





:root {
	--gray-base: #202430;
	--gray-shade-60: #13161D;
	--gray-tint-30: #63666E;
	--gray-tint-50: #909298;
	--gray-tint-80: #D2D3D6;
	--gray-alpha-80: rgb(32 36 48 / .8); /* CSS Colors Level 4 */
	--gray-tint-90: #E9E9EA;

	--white-base: #fff;
	--primary-base: #358FE6;

	--extras-sun: #FFD371;
	--extras-moon: #7190FF;
	--extras-black-alpha-64: rgb(0 0 0 / .64);
	--extras-white-alpha-64: rgb(255 255 255 / .64);
}

:root[data-theme="dark"] {
	--main-header-bg: var(--gray-shade-60);
	--top-bar-icon-fill: var(--gray-tint-80);
	--sidebar-bg: var(--gray-base);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--white-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--white-base);
	--sidebar-menu-heading-color: var(--gray-tint-30);
	--theme-switcher-bg: var(--gray-shade-60);
	--theme-switcher-indicator: var(--extras-moon);
	--theme-switcher-indicator-pos: 3.25rem;
	--sun-icon-fill: var(--gray-tint-30);
	--moon-icon-fill: var(--extras-white-alpha-64);
	--main-header-link-color: var(--gray-tint-80);
}

:root[data-theme="light"] {
	--main-header-bg: var(--gray-tint-80);
	--top-bar-icon-fill: var(--gray-base);
	--sidebar-bg: var(--gray-tint-90);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--gray-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--gray-base);
	--sidebar-menu-heading-color: var(--gray-tint-50);
	--theme-switcher-bg: var(--gray-tint-80);
	--theme-switcher-indicator: var(--extras-sun);
	--theme-switcher-indicator-pos: .25rem;
	--sun-icon-fill: var(--extras-black-alpha-64);
	--moon-icon-fill: var(--gray-tint-50);
	--main-header-link-color: var(--gray-base);
}



/* ================================================= */
/* General styles */
/* ================================================= */
html {
	font-size: 100%;
	line-height: 1.4;
}

body {
	font-family: "Roboto", "Helvetica", "Arial", "Roboto Mono", sans-serif;
	color: var(--gray-base);
}



/* ================================================= */
/* Main header */
/* ================================================= */
#main-header {
	background-color: #f6fcff;
	padding: 1rem 1.5rem;
	transition: background-color .4s ease-in-out;
}

#main-header nav,
#main-header ul,
#main-header a {
	display: flex;
	align-items: center;
}

#main-header nav {
	justify-content: space-between;
}

#main-header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
}

#main-header svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--top-bar-icon-fill);
	transition: fill .4s ease-in-out;
}

#main-header__sidebar-toggle {
	appearance: none;
	background-color: transparent;
	border: none;
}

#toggle-icon-close,
body.sidebar-open #toggle-icon-menu {
	display: none;
}

body.sidebar-open #toggle-icon-close {
	display: block;
}

#main-header__logo,
#main-header a span {
	display: none;
}



/* ================================================= */
/* Main */
/* ================================================= */
#main {
	position: relative;
}





#sidebar svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--sidebar-icon-fill);
	transition: fill .4s ease-in-out;
}

#sidebar__collapse {
	display: none;
}

#sidebar__nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar__nav ul a {
	display: flex;
	padding: .75rem 0;
	gap: .75rem;
	align-items: center;
	text-decoration: none;
	color: var(--sidebar-link-color);
	padding-right: 3rem;
	transition: color .3s ease-in-out;
}

#sidebar__nav ul a.active {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a.active svg {
	fill: var(--sidebar-icon-active-fill);
}

#sidebar__nav ul a:hover {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a:hover svg {
	fill: var(--sidebar-icon-active-fill);
}

.menu-heading {
	color: var(--sidebar-menu-heading-color);
	font-size: 81.25%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: .75rem 0;
}

#sidebar__theme-switcher {
	background-color: var(--theme-switcher-bg);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 0.875rem;
	gap: 1.75rem;
	position: relative;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}

#sidebar__theme-switcher::before {
	content: '';
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--theme-switcher-indicator);
	border-radius: 50px;
	z-index: 0;
	left: 0;
	transform: translateX(var(--theme-switcher-indicator-pos));
	transition: transform .4s ease-in-out;
}

#sidebar__theme-switcher svg {
	z-index: 1;
}

#sidebar #sidebar__theme-switcher__sun {
	fill: var(--sun-icon-fill);
}

#sidebar #sidebar__theme-switcher__moon {
	fill: var(--moon-icon-fill);
}

#overlay {
	position: absolute;
	inset: 0;
	background-color: var(--gray-alpha-80);
	opacity: 0;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	overflow: hidden;
	visibility: hidden;
}

body.sidebar-open #overlay {
	opacity: 1;
	visibility: visible;
}

body.sidebar-open #sidebar {
	transform: translate3d(0, 0, 0);
}



/* ================================================= */
/* Main content */
/* ================================================= */
#main-content {
	padding: 1.5rem;
}

#main-content__container {
	border: var(--gray-tint-50) 1px dashed;
	border-radius: 8px;
	height: calc(41vh + 10rem);
	display: grid;
	place-content: center;
}



/* ================================================= */
/* Large screens */
/* ================================================= */
@media screen and (min-width: 768px) {
	#main-header__sidebar-toggle {
		display: none;
	}

	#main-header__logo {
		display: block;
	}

	#main-header__logo img,
	#main-header__logo svg {
    height: auto;
    width: 150px;
	margin-left: 2px;
	}
	#main-header__logo svg {
    width: 150px;
    height: auto;
    display: block; /* Ensures SVG takes up the full width and avoids extra space below */
	}


	#main-header a {
		text-decoration: none;
	}

	#main-header a span {
		display: inline-block;
		font-size: 81.25%;
		color: var(--main-header-link-color);
		transition: color .4s ease-in-out;
	}

	#main-header a {
		gap: .5rem;
	}

	#sidebar {
		position: absolute;
		transform: none;
		
	}

	#main {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	#sidebar__collapse {
		display: flex;
		align-items: center;
		gap: .75rem;
		padding: .75rem 0;
		appearance: none;
		background: transparent;
		border: none;
		font-size: 81.25%;
		color: var(--primary-base);
		cursor: pointer;
	}

	#sidebar__collapse svg {
		fill: var(--primary-base);
	}

	body.sidebar-collapsed .menu-heading,
	body.sidebar-collapsed #sidebar span {
		display: none;
	}

	body.sidebar-collapsed #sidebar__theme-switcher {
		display: none;
	}

	body.sidebar-collapsed #sidebar {
		padding-right: 1.5rem;
	}

	body.sidebar-collapsed #sidebar a,
	body.sidebar-collapsed #sidebar__collapse {
		width: 2.75rem;
		padding-right: 0;
		justify-content: center;
	}

	body.sidebar-collapsed #sidebar__collapse svg {
		transform: rotate(180deg);
	}
}

.card-body {
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
}

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 3px;
}

.rectangle6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop .btn {
    width: 100%;
}

.btn-outline-light {
    
    margin-top: 10px;
}
