.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: -1;
    filter: blur(3px);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed; 
}
<-- apphost -->

div .tab{
	position: relative;
    bottom: 220px;
    left: 250px;
}
.btn-primary{
	position: absolute;
    left: 300px;
}
.btn-xs{
	    position: relative;
    top: -69px;
left: 155px;
}

<-- custhost -->
p.customer{
    position: relative;
    bottom: 26px;
}
#customerName{
	    position: relative;
    left: 155px;
bottom: 41px;}

.content{
	position: relative;
    bottom: 22px;
}

.custhostsubmit {
    position: fixed;
    right: 293px;
    top: 320px;
}


.serverptag{
	position: relative;
    bottom: 10px;
}


.tab {
    position: absolute;
    border: 1px solid #ccc;
    background-color:rgba(236, 236, 236, 0.74);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
    left: 420px;
    top: 25px;
    border-radius: 4px;
    height: 41px;
  }
  
.tab button {
    background-color: rgba(236, 236, 236, 0.74);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 4px;
    height: 40px;
    color: #000000;
	font-family: arial,verdana,helvetica,sans-serif;
  }
  .tab button:hover {
    background-color: #ffffff;
  }
  .tab button.active {
    background-color: rgb(255, 255, 255);
  }
  
  main {
    padding-top: 64px; /* Adjust for the fixed navbar */
	font-family: arial,verdana,helvetica,sans-serif;
  }
 
  .table-container {
    margin-top: 20px; /* Push the table down */
    padding: 20px;
    background-color: #f8f9fa; /* Light background for table section */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for elevation */
	font-family:arial,verdana,helvetica,sans-serif;
	
  }
 
  /* Styling the table header */
  thead th {
    
    
    
	font-family: arial,verdana,helvetica,sans-serif;
  }
  tr.apphosttr{
	   border: 1px solid black;
  }
  
  #add{
	    position: unset;

}
 
  /* Add padding around the sections */
  .section-title {
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #343a40;
	font-family: arial, verdana, helvetica, sans-serif;
  }
  div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width:1000px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
	
}
 .main-onboard{
	padding: 45px;
    width: 90%;
    padding-left: 9rem;
	padding-top: 15rem;
	
	
 }
 
  
  
  .topsection {
    width: 400px;
    background-color:rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 700px;
    transform: translateX(-50%);
    padding: 20px;
  align-items:center;
  overflow:auto;
  height:140px;
  }
  
  th.apphosttable{
	  border: 1px solid black;
	  
  }
  
  table.apphosttable{
	  border: 1px solid black;
  }
  
  
  #details-tabl{
	  width: 500px;
  }
  
  .frame33 {
    width: 500px;
    height: 300px;
    background-color: rgba(241, 241, 241, 0.6);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 700px;
    transform: translateX(-50%);
    padding: 20px;
    align-items: center;
}

.ptag{
	top: 1px;
    left: -10px;
}

.secondtabnamestyles{
	font-weight: bold;
    font-size: 15px;
    font-family: arial, verdana, helvetica, sans-serif;
}

.frame-1{
    position:relative;
	top:150px;
	height:fit-content;
	left: 100px;
	width:1000px;

    }

                                .frame-2{
                                                position:relative;
												top:180px;
												height:fit-content;
												left: 100px;
												width:1000px;
                                }

                                .frame-3{
                                                position:relative;
                                                top:210px;
												left: 100px;
												width:1000px;
												height:fit-content;
                                }
								
								.table-responsive {
									overflow:hidden;
								}
								
.backgroundimg {
	background-image: url("picture/blue_2.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed; 
}
								
.frame34 {
    width: 400px;
    height: 250;
    background-color: rgba(241, 241, 241, 0.6);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 700px;
    transform: translateX(-50%);
    padding: 20px;
    align-items: center;
}
	
	
.table1 {
  border: 1px solid black;
  table-layout: fixed;
  width: 280px;
  overflow-y:auto;
}

.th1,
.td1 {
  border: 1px solid black;
  width: 140px;
  overflow: hidden;
}


.table2 {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

.th2,
.td2 {
  border: 1px solid black;
  width: 130px;
  overflow: hidden;
}

.namestyles{
padding:13px; 
font-size: 15px; 
font-family: arial,verdana,helvetica,sans-serif;
}

.table3 {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
  position: relative;
  left: 65px;
  overflow: none;
}

.th3,
.td3 {
  border: 1px solid black;
  width: 140px;
  overflow: hidden;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 11px;
}


.form-control{
font-family: arial, verdana, helvetica, sans-serif;
    font-size: 11px;
}

.side-bar {
  position: fixed;
  width: 1100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  top: 480px;
  left: 200px;
}

.dropdown {
            position: relative;
            width: 100%;
            }
            .drop{
            position: relative;
            width: 100%;
            
            }
			
			            .app-textBox {
            width: 90%;
            padding: 5px;
            font-size: 12px;
            right:5 px;
            }
            .host-textBox {
            width: fit-content;
            padding: 5px;
            font-size: 12px;
            right:5 px;
            }
            .frame{
                         height:200px;
                         width:100px;
                         overflow:auto;
                                                }
            .dropdown-content, .drop-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            }
            
            .dropdown-content div, .drop-content div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-size:12px;
            display: block;
            cursor: pointer;
            }
            
            .dropdown-content div:hover, .drop-content div:hover {
            background-color: #f1f1f1;
            }
            
            .dropdown-item {
                
                font-size:12px;
                font-family: arial, verdana, helvetica, sans-serif;
            }
            .dropdown-menu {
                
                font-size:12px;
            }
                                                
                                                * {
    margin: 0;
    padding: 0;
}

.loading-screen {
    width: 1330px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: absolute;
    top: -10px;
    left: -10px;
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.loading {
    width: 85px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading span {
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 3px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #0bdaff;
    transform-origin: bottom right;
}

.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #0bdaff;
    transform-origin: bottom left;
    animation-delay: 0.5s;
}

.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #0bdaff;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #0bdaff;
    transform-origin: top left;
    animation-delay: 1s;
}

.custom-select {
            position: relative;
            display: inline-block;
            width: 200px;
        }

        .select-items {
            display: none; /* Hidden by default */
            position: relative;
            background-color: white;
            box-shadow: 0 6px 12px rgba(0,0,0,0.1);
            z-index: 1;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
			left: 190px;
            top: -60px;
        }

        .select-selected {
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
			position: relative;
    bottom: 63px;
    left: 190px;
        }

        .select-selected.active + .select-items {
            display: block; /* Show the dropdown when active */
        }

        .select-items div {
            padding: 10px;
            cursor: pointer;
        }

        .select-items div:hover {
            background-color: #f1f1f1;
        }

        .same-as-selected {
            background-color: #e9e9e9;
        }
		
		::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}

.heading-container {
    display: flex;
    align-items: right-side;
    justify-content: center;
    padding: 5px;
    background-color: #f6fcff;
    
}

.icon-container {
    margin-right: 9px;
}

.heading-text {
    color: rgb(82, 195, 230);
    font-size: 28px; 
    font-family:  arial, verdana, helvetica, sans-serif;
    font-weight: 700; 
    
    margin: 5; 
}

.btn-outline-light {
    
    color: black;
    border-color: black;
    
}
.apphostaddrow
{
	position: relative;
	font-size: 12px;
    left: 99px;
    top: 7px;
}

.apphostsubmit {
    color: black;
    border-color: black;
    position: relative;
    left: 525px;
    top: -21px;
    font-size: 12px;
}

.btn-outline-dark {
    color: black;
    border-color: black;
	
   
}
.hostcustcheckbutton{
 color: black;
    border-color: black;
    
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 12px;
}


.light{
        width: 136px;
          height: 35px;
          
          border: 1px solid #fffdfdff;
          border-radius: 10px;
          font-size: 12px;
          text-align: center;
          font-family: arial, verdana, helvetica, sans-serif;
          cursor: pointer;
          position: relative;
          top: -45px;
		  left:155px;
        }

.btn-light{
        width: 160px;
          height: 35px;
          padding-bottom:2px;
          border: 1px solid #fffdfdff;
          border-radius: 10px;
          font-size: 12px;
          text-align: center;
          font-family: arial, verdana, helvetica, sans-serif;
          cursor: pointer;
          position: relative;
          top: -7px;
		  left: 24px;
		  margin: 5px;
        }


:root {
	--gray-base: #202430;
	--gray-shade-60: #13161D;
	--gray-tint-30: #63666E;
	--gray-tint-50: #909298;
	--gray-tint-80: #D2D3D6;
	--gray-alpha-80: rgb(32 36 48 / .8); /* CSS Colors Level 4 */
	--gray-tint-90: #E9E9EA;

	--white-base: #fff;
	--primary-base: #358FE6;

	--extras-sun: #FFD371;
	--extras-moon: #7190FF;
	--extras-black-alpha-64: rgb(0 0 0 / .64);
	--extras-white-alpha-64: rgb(255 255 255 / .64);
}

:root[data-theme="dark"] {
	--main-header-bg: var(--gray-shade-60);
	--top-bar-icon-fill: var(--gray-tint-80);
	--sidebar-bg: var(--gray-base);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--white-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--white-base);
	--sidebar-menu-heading-color: var(--gray-tint-30);
	--theme-switcher-bg: var(--gray-shade-60);
	--theme-switcher-indicator: var(--extras-moon);
	--theme-switcher-indicator-pos: 3.25rem;
	--sun-icon-fill: var(--gray-tint-30);
	--moon-icon-fill: var(--extras-white-alpha-64);
	--main-header-link-color: var(--gray-tint-80);
}

:root[data-theme="light"] {
	--main-header-bg: var(--gray-tint-80);
	--top-bar-icon-fill: var(--gray-base);
	--sidebar-bg: var(--gray-tint-90);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--gray-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--gray-base);
	--sidebar-menu-heading-color: var(--gray-tint-50);
	--theme-switcher-bg: var(--gray-tint-80);
	--theme-switcher-indicator: var(--extras-sun);
	--theme-switcher-indicator-pos: .25rem;
	--sun-icon-fill: var(--extras-black-alpha-64);
	--moon-icon-fill: var(--gray-tint-50);
	--main-header-link-color: var(--gray-base);
}



/* ================================================= */
/* General styles */
/* ================================================= */
html {
	font-size: 100%;
	line-height: 1.4;
}

body {
	
	color: var(--gray-base);
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}



/* ================================================= */
/* Main header */
/* ================================================= */
#main-header {
	background-color: #f6fcff;
	padding: 1rem 1.5rem;
	transition: background-color .4s ease-in-out;
}

#main-header nav,
#main-header ul,
#main-header a {
	display: flex;
	align-items: center;
}

#main-header nav {
	justify-content: space-between;
}

#main-header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
}

#main-header svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--top-bar-icon-fill);
	transition: fill .4s ease-in-out;
}

#main-header__sidebar-toggle {
	appearance: none;
	background-color: transparent;
	border: none;
}

#toggle-icon-close,
body.sidebar-open #toggle-icon-menu {
	display: none;
}

body.sidebar-open #toggle-icon-close {
	display: block;
}

#main-header__logo,
#main-header a span {
	display: none;
}



/* ================================================= */
/* Main */
/* ================================================= */
#main {
	position: relative;
}



/* ================================================= */
/* Sidebar */
/* ================================================= */
#sidebar {
	background-color: #f6fcff;
	padding: 0rem 0 1.5rem 1.5rem;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 0rem;
	min-height: 100%;
	align-items: flex-start;
	transform: translate3d(-100%, 0, 0);
	transition: transform .4s ease-in-out, background-color .4s ease-in-out;
	
}

#sidebar svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--sidebar-icon-fill);
	transition: fill .4s ease-in-out;
}

#sidebar__collapse {
	display: none;
}

#sidebar__nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar__nav ul a {
	display: flex;
	padding: .75rem 0;
	gap: .75rem;
	align-items: center;
	text-decoration: none;
	color: var(--sidebar-link-color);
	padding-right: 3rem;
	transition: color .3s ease-in-out;
}

#sidebar__nav ul a.active {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a.active svg {
	fill: var(--sidebar-icon-active-fill);
}

#sidebar__nav ul a:hover {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a:hover svg {
	fill: var(--sidebar-icon-active-fill);
}

.menu-heading {
	color: var(--sidebar-menu-heading-color);
	font-size: 81.25%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: .75rem 0;
}

#sidebar__theme-switcher {
	background-color: var(--theme-switcher-bg);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 0.875rem;
	gap: 1.75rem;
	position: relative;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}

#sidebar__theme-switcher::before {
	content: '';
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--theme-switcher-indicator);
	border-radius: 50px;
	z-index: 0;
	left: 0;
	transform: translateX(var(--theme-switcher-indicator-pos));
	transition: transform .4s ease-in-out;
}

#sidebar__theme-switcher svg {
	z-index: 1;
}

#sidebar #sidebar__theme-switcher__sun {
	fill: var(--sun-icon-fill);
}

#sidebar #sidebar__theme-switcher__moon {
	fill: var(--moon-icon-fill);
}

#overlay {
	position: absolute;
	inset: 0;
	background-color: var(--gray-alpha-80);
	opacity: 0;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	overflow: hidden;
	visibility: hidden;
}

body.sidebar-open #overlay {
	opacity: 1;
	visibility: visible;
}

body.sidebar-open #sidebar {
	transform: translate3d(0, 0, 0);
}



/* ================================================= */
/* Main content */
/* ================================================= */
#main-content {
	padding: 1.5rem;
}

#main-content__container {
	border: var(--gray-tint-50) 1px dashed;
	border-radius: 8px;
	height: calc(41vh + 10rem);
	display: grid;
	place-content: center;
}



/* ================================================= */
/* Large screens */
/* ================================================= */
@media screen and (min-width: 768px) {
	#main-header__sidebar-toggle {
		display: none;
	}

	#main-header__logo {
		display: block;
	}

	#main-header__logo img,
	#main-header__logo svg {
    height: auto;
    width: 150px;
	margin-left: 2px;
	}
	#main-header__logo svg {
    width: 150px;
    height: auto;
    display: block; /* Ensures SVG takes up the full width and avoids extra space below */
	}


	#main-header a {
		text-decoration: none;
	}

	#main-header a span {
		display: inline-block;
		font-size: 81.25%;
		color: var(--main-header-link-color);
		transition: color .4s ease-in-out;
	}

	#main-header a {
		gap: .5rem;
	}

	#sidebar {
		position: absolute;
		transform: none;
		padding-bottom:500px;
	}

	#main {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	#sidebar__collapse {
		display: flex;
		align-items: center;
		gap: .75rem;
		padding: .75rem 0;
		appearance: none;
		background: transparent;
		border: none;
		font-size: 81.25%;
		color: var(--primary-base);
		cursor: pointer;
	}

	#sidebar__collapse svg {
		fill: var(--primary-base);
	}

	body.sidebar-collapsed .menu-heading,
	body.sidebar-collapsed #sidebar span {
		display: none;
	}

	body.sidebar-collapsed #sidebar__theme-switcher {
		display: none;
	}

	body.sidebar-collapsed #sidebar {
		padding-right: 1.5rem;
	}

	body.sidebar-collapsed #sidebar a,
	body.sidebar-collapsed #sidebar__collapse {
		width: 2.75rem;
		padding-right: 0;
		justify-content: center;
	}

	body.sidebar-collapsed #sidebar__collapse svg {
		transform: rotate(180deg);
	}
}

:root {
	--gray-base: #202430;
	--gray-shade-60: #13161D;
	--gray-tint-30: #63666E;
	--gray-tint-50: #909298;
	--gray-tint-80: #D2D3D6;
	--gray-alpha-80: rgb(32 36 48 / .8); /* CSS Colors Level 4 */
	--gray-tint-90: #E9E9EA;

	--white-base: #fff;
	--primary-base: #358FE6;

	--extras-sun: #FFD371;
	--extras-moon: #7190FF;
	--extras-black-alpha-64: rgb(0 0 0 / .64);
	--extras-white-alpha-64: rgb(255 255 255 / .64);
}

:root[data-theme="dark"] {
	--main-header-bg: var(--gray-shade-60);
	--top-bar-icon-fill: var(--gray-tint-80);
	--sidebar-bg: var(--gray-base);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--white-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--white-base);
	--sidebar-menu-heading-color: var(--gray-tint-30);
	--theme-switcher-bg: var(--gray-shade-60);
	--theme-switcher-indicator: var(--extras-moon);
	--theme-switcher-indicator-pos: 3.25rem;
	--sun-icon-fill: var(--gray-tint-30);
	--moon-icon-fill: var(--extras-white-alpha-64);
	--main-header-link-color: var(--gray-tint-80);
}

:root[data-theme="light"] {
	--main-header-bg: var(--gray-tint-80);
	--top-bar-icon-fill: var(--gray-base);
	--sidebar-bg: var(--gray-tint-90);
	--sidebar-icon-fill: var(--gray-tint-50);
	--sidebar-icon-active-fill: var(--gray-base);
	--sidebar-link-color: var(--gray-tint-50);
	--sidebar-link-active-color: var(--gray-base);
	--sidebar-menu-heading-color: var(--gray-tint-50);
	--theme-switcher-bg: var(--gray-tint-80);
	--theme-switcher-indicator: var(--extras-sun);
	--theme-switcher-indicator-pos: .25rem;
	--sun-icon-fill: var(--extras-black-alpha-64);
	--moon-icon-fill: var(--gray-tint-50);
	--main-header-link-color: var(--gray-base);
}



/* ================================================= */
/* General styles */
/* ================================================= */
html {
	font-size: 100%;
	line-height: 1.4;
}

body {
	
	color: var(--gray-base);
}



/* ================================================= */
/* Main header */
/* ================================================= */
#main-header {
	background-color: #f6fcff;
	padding: 1rem 1.5rem;
	transition: background-color .4s ease-in-out;
}

#main-header nav,
#main-header ul,
#main-header a {
	display: flex;
	align-items: center;
}

#main-header nav {
	justify-content: space-between;
}

#main-header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 2rem;
}

#main-header svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--top-bar-icon-fill);
	transition: fill .4s ease-in-out;
}

#main-header__sidebar-toggle {
	appearance: none;
	background-color: transparent;
	border: none;
}

#toggle-icon-close,
body.sidebar-open #toggle-icon-menu {
	display: none;
}

body.sidebar-open #toggle-icon-close {
	display: block;
}

#main-header__logo,
#main-header a span {
	display: none;
}



/* ================================================= */
/* Main */
/* ================================================= */
#main {
	position: relative;
}



/* ================================================= */
/* Sidebar */
/* ================================================= */
#sidebar {
	background-color: #f6fcff;
	padding: 0rem 0 1.5rem 1.5rem;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 0rem;
	min-height: 100%;
	align-items: flex-start;
	transform: translate3d(-100%, 0, 0);
	transition: transform .4s ease-in-out, background-color .4s ease-in-out;
}

#sidebar svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--sidebar-icon-fill);
	transition: fill .4s ease-in-out;
}

#sidebar__collapse {
	display: none;
}

#sidebar__nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar__nav ul a {
	display: flex;
	padding: .75rem 0;
	gap: .75rem;
	align-items: center;
	text-decoration: none;
	color: var(--sidebar-link-color);
	padding-right: 3rem;
	transition: color .3s ease-in-out;
}

#sidebar__nav ul a.active {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a.active svg {
	fill: var(--sidebar-icon-active-fill);
}

#sidebar__nav ul a:hover {
	color: var(--sidebar-link-active-color);
}

#sidebar__nav ul a:hover svg {
	fill: var(--sidebar-icon-active-fill);
}

.menu-heading {
	color: var(--sidebar-menu-heading-color);
	font-size: 81.25%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: .75rem 0;
}

#sidebar__theme-switcher {
	background-color: var(--theme-switcher-bg);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 0.875rem;
	gap: 1.75rem;
	position: relative;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}

#sidebar__theme-switcher::before {
	content: '';
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--theme-switcher-indicator);
	border-radius: 50px;
	z-index: 0;
	left: 0;
	transform: translateX(var(--theme-switcher-indicator-pos));
	transition: transform .4s ease-in-out;
}

#sidebar__theme-switcher svg {
	z-index: 1;
}

#sidebar #sidebar__theme-switcher__sun {
	fill: var(--sun-icon-fill);
}

#sidebar #sidebar__theme-switcher__moon {
	fill: var(--moon-icon-fill);
}

#overlay {
	position: absolute;
	inset: 0;
	background-color: var(--gray-alpha-80);
	opacity: 0;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	overflow: hidden;
	visibility: hidden;
}

body.sidebar-open #overlay {
	opacity: 1;
	visibility: visible;
}

body.sidebar-open #sidebar {
	transform: translate3d(0, 0, 0);
}



/* ================================================= */
/* Main content */
/* ================================================= */
#main-content {
	padding: 1.5rem;
}

#main-content__container {
	border: var(--gray-tint-50) 1px dashed;
	border-radius: 8px;
	height: calc(41vh + 10rem);
	display: grid;
	place-content: center;
}



/* ================================================= */
/* Large screens */
/* ================================================= */
@media screen and (min-width: 768px) {
	#main-header__sidebar-toggle {
		display: none;
	}

	#main-header__logo {
		display: block;
	}

	#main-header__logo img,
	#main-header__logo svg {
    height: auto;
    width: 150px;
	margin-left: 2px;
	}
	#main-header__logo svg {
    width: 150px;
    height: auto;
    display: block; /* Ensures SVG takes up the full width and avoids extra space below */
	}


	#main-header a {
		text-decoration: none;
	}

	#main-header a span {
		display: inline-block;
		font-size: 81.25%;
		color: var(--main-header-link-color);
		transition: color .4s ease-in-out;
	}

	#main-header a {
		gap: .5rem;
	}

	#sidebar {
		position: absolute;
		transform: none;
		padding-bottom:500px;
	}

	#main {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	#sidebar__collapse {
		display: flex;
		align-items: center;
		gap: .75rem;
		padding: .75rem 0;
		appearance: none;
		background: transparent;
		border: none;
		font-size: 81.25%;
		color: var(--primary-base);
		cursor: pointer;
	}

	#sidebar__collapse svg {
		fill: var(--primary-base);
	}

	body.sidebar-collapsed .menu-heading,
	body.sidebar-collapsed #sidebar span {
		display: none;
	}

	body.sidebar-collapsed #sidebar__theme-switcher {
		display: none;
	}

	body.sidebar-collapsed #sidebar {
		padding-right: 1.5rem;
	}

	body.sidebar-collapsed #sidebar a,
	body.sidebar-collapsed #sidebar__collapse {
		width: 2.75rem;
		padding-right: 0;
		justify-content: center;
	}

	body.sidebar-collapsed #sidebar__collapse svg {
		transform: rotate(180deg);
	}
}