
.table-bordered {
    width: 99%;
    height: 73%;
    top: 10px;
    right: 10px;
                overflow-x:clip;
    overflow-y: scroll;
    position: absolute;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: -15px;
    margin-top: -20px;
}
th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    color: #ffffff;
    font-size: 18px;
                height:10px;
}
tr{
                height:20px;
}

thead {
    background-color:rgba(106, 184, 248, 0.856);
                font-family: 'roboto', serif;
}

td {
    background-color: white;
                width:366px;
                font-family: 'roboto', serif;
                font-size:18px;
}
button{
    width: 80px;
    height: 30px;
}
.table-responsive{
    position: absolute;
    top: 380px;
                width:1200px;
                height:200px;
}
.btn-primary{
    position: absolute;
    left: 1100px;
                top:555px;
    
}
.frame32 {
    width: 450px;
    background-color:rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 680px;
    transform: translateX(-50%);
    padding: 20px;
  align-items:center;
  overflow:auto;
  height:300px;
  }
  .frame22 {
    width: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 190px;
    border-radius: 30px;
    
    }
  .btn-outline-dark{
    width: 160px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #fffdfdff;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-family:'roboto', serif;
    position: absolute;
                top:1000px;
    }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .input-container{
    position:relative;
    margin-bottom:25px;
    }
    .input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#000000;        
      pointer-event:none;
    transition: all 0.5s ease-in-out;
    font-family:'roboto', serif;
      font-weight: bold;
    }
    .input-container input{ 
    border:0;
    border-bottom:1px solid #000000;  
    background:transparent;
    width:275px;
    padding:8px 0 4px 0;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    font-family:'roboto', serif;
    }
    .input-container input:focus{ 
    border:none;              
    outline:none;
    border-bottom:1px solid #000000;             
    }
    
    
    .input-container input:focus ~ label,
    .input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
    
    }
    .tab {
        position: absolute;
        border: 1px solid #ccc;
        background-color:rgba(236, 236, 236, 0.74);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
        left: 580px;
        top: 80px;
        border-radius: 4px;
        height: 41px;
    
      }
    .tab button {
        background-color: rgba(236, 236, 236, 0.74);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 10px;
        transition: 0.3s;
        font-size: 17px;
        border-radius: 4px;
        height: 40px;
        color: #000000;
        font-family:'roboto', serif;
      }
      .tab button:hover {
        background-color: #ffffff;
      }
      .tab button.active {
        background-color: rgb(255, 255, 255);
      }
      .btn-dark{
        width: 160px;
          height: 35px;
          background-color: #000000;
          color: #ffffff;
          border: 1px solid #fffdfdff;
          border-radius: 10px;
          font-size: 12px;
          text-align: center;
          font-family:'roboto', serif;
          cursor: pointer;
          position: absolute;
          top: -15px;
        }
        .btn-light{
            width: 160px;
              height: 35px;
              background-color: #000000;
              color: #ffffff;
              border: 1px solid #fffdfdff;
              border-radius: 10px;
              font-size: 12px;
              text-align: center;
              font-family:'roboto', serif;
              cursor: pointer;
              position: absolute;
              right: -48px;
              top: -18px;
        }
        .btn-dark:hover{
            background-color: #8a8a8a;
          }
          
          .btn-dark:active{
            background-color: #8a8a8a;
          }
          .nameofthecustomer2, .server {
            font-size: 16px;
            color: #000000;
            margin-right: 10px;
            font-weight:bold;
            position: relative;
            top: 6px;
            font-family:'roboto', serif;
            }
            .buttonserver{
                background-color: black;
                color: white;
                border-radius: 10px;
                width: 160px;
                position: relative;
                
                right: -39px;
            }
           .buttoncustomer{
            width: 160px;
            height: 35px;
            background-color: #000000;
            color: #ffffff;
            border: 1px solid #fffdfdff;
            border-radius: 10px;
            font-size: 12px;
            text-align: center;
            font-family:'roboto', serif;
            cursor: pointer;
            position: absolute;
            right: -39px;
            top: -15px;
           }
            
            
            .dropdown {
            position: relative;
            width: 100%;
            }
            .drop{
            position: relative;
            width: 100%;
            left: 140px;
            }
            
            .app-textBox {
            width: 90%;
            padding: 5px;
            font-size: 12px;
            right:5 px;
            }
            .host-textBox {
            width: 90%;
            padding: 5px;
            font-size: 12px;
            right:5 px;
            }
            .frame{
                         height:200px;
                         width:100px;
                         overflow:auto;
                                                }
            .dropdown-content, .drop-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            }
            
            .dropdown-content div, .drop-content div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-size:12px;
            display: block;
            cursor: pointer;
            }
            
            .dropdown-content div:hover, .drop-content div:hover {
            background-color: #f1f1f1;
            }
            
            .dropdown-item {
                
                font-size:12px;
                font-family:'roboto', serif;
            }
            .dropdown-menu {
                
                font-size:12px;
            }
                                                
                                                * {
    margin: 0;
    padding: 0;
}

.loading-screen {
    width: 1330px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    position: absolute;
    top: -10px;
    left: -10px;
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.loading {
    width: 85px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading span {
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 3px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #0bdaff;
    transform-origin: bottom right;
}

.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #0bdaff;
    transform-origin: bottom left;
    animation-delay: 0.5s;
}

.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #0bdaff;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #0bdaff;
    transform-origin: top left;
    animation-delay: 1s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}

.custom-select {
            position: relative;
            display: inline-block;
            width: 200px;
        }

        .select-items {
            display: none; /* Hidden by default */
            position: absolute;
            background-color: white;
            box-shadow: 0 6px 12px rgba(0,0,0,0.1);
            z-index: 1;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
        }

        .select-selected {
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .select-selected.active + .select-items {
            display: block; /* Show the dropdown when active */
        }

        .select-items div {
            padding: 10px;
            cursor: pointer;
        }

        .select-items div:hover {
            background-color: #f1f1f1;
        }

        .same-as-selected {
            background-color: #e9e9e9;
        }
                                
                                .topic{
                    position: absolute;
                                bottom: 240px;
                                color: black;
                                font-weight:bold;
                                }
                                .topic-2{
                                                position: absolute;
                                top: 350px;
                                                font-weight:bold;
                                                
                                                
                                }
                                .topic-3{
                                                position: absolute;
                                top: 350px;
                                                font-weight:bold;
                                }
								
								.frame-1{
                                                position:absolute;
												top:100px;
												height:600px;
                                }

                                .frame-2{
                                                position:absolute;
												top:400px;
												height:600px;
                                }

                                .frame-3{
                                                position:absolute;
                                                top:700px;
                                }
