@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Port+Lligat+Sans&family=Sansita:ital,wght@0,800;0,900;1,700;1,800;1,900&display=swap');
.navbar-brand{
    width:200px;
    height: 50px;
    overflow: hidden;
    opacity: 1;
    
}
.logo{
    width: 120px;
    height: 30px;
    position: relative;
    top:2px ;
}
.heading{
    color:  rgb(82, 195, 230);
    font-size: 22px;
    position:fixed;
    right: 430px;
    font-family:'Audiowide', sans-serif; 
}
.navbar-expand-sm{
    background-color: #f6f8f8;
    opacity: 1;
    position: relative;
}
.background {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter:blur(3px)
}
a i {
    position: absolute;
    top: 80px;
    left: 15px;
    color:  rgb(82, 195, 230);
}
.frame32 {
  width: 450px;
  height: 380px;
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 165px;
  left: 680px;
  transform: translateX(-50%);
  padding: 20px;
align-items:center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.nameofthecustomer2, .server {
font-size: 16px;
color: #000000;
margin-right: 10px;
font-weight:bold;
position: relative;
top: 6px;
font-family:'roboto', serif;
}

.rectangle6 {
flex-grow: 1;
width:100px;
}

.dropdown {
position: relative;
width: 100%;
}
.drop{
position: relative;
width: 100%;
left: 140px;
}

.customerDropdown-textBox,.thrdcustomerDropdown-textBox,.custcustomerDropdown-textBox {
width: 90%;
padding: 5px;
font-size: 12px;
right:5 px;
}
.serverDropdown-textBox,.thrdserverDropdown-textBox,.custserverDropdown-textBox {
width: 90%;
padding: 5px;
font-size: 12px;
right:5 px;
}

.dropdown-content, .drop-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content div, .drop-content div {
color: black;
padding: 12px 16px;
text-decoration: none;
font-size:12px;
display: block;
cursor: pointer;
}

.dropdown-content div:hover, .drop-content div:hover {
background-color: #f1f1f1;
}

.dropdown-item {
	
	font-size:12px;
	font-family:'roboto', serif;
}
.dropdown-menu {
	
	font-size:12px;
}

.frame22 {
width: 60px;
margin-top: 20px;
display: flex;
justify-content: center;
position: absolute;
left: 190px;
border-radius: 30px;

}

.tab {
    position: absolute;
    border: 1px solid #ccc;
    background-color:rgba(236, 236, 236, 0.74);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
    left: 550px;
    top: 80px;
    border-radius: 4px;
    height: 41px;

  }
.tab button {
    background-color: rgba(236, 236, 236, 0.74);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.74);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 4px;
    height: 40px;
    color: #000000;
	font-family:'roboto', serif;
  }
  .tab button:hover {
    background-color: #ffffff;
  }
  .tab button.active {
    background-color: rgb(255, 255, 255);
  }
.btn-light{
width: 160px;
  height: 35px;
  background-color: #ffffff;
  color: #080808;
  border: 1px solid #fffdfdff;
  border-radius: 10px;
  font-size: 12px;
  font-weight:bold;
  text-align: center;
  font-family:'roboto', serif;
  cursor: pointer;
}

.btn-light:hover{
  background-color: #f1f1f1;
}

.btn-light:active{
  background-color: #f1f1f1;
}

button:hover {
background-color: #000000;
}

button:active {
background-color: #000000;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.btn-outline-dark{
width: 160px;
height: 35px;
background-color: #000000;
color: #ffffff;
border: 1px solid #fffdfdff;
border-radius: 30px;
font-size: 14px;
text-align: center;
cursor: pointer;
font-family:'roboto', serif;
}
.input-container{
position:relative;
margin-bottom:25px;
}
.input-container label{
position:absolute;
top:0px;
left:0px;
font-size:16px;
color:#000000;	
  pointer-event:none;
transition: all 0.5s ease-in-out;
font-family:'roboto', serif;
  font-weight: bold;
}
.input-container input{ 
border:0;
border-bottom:1px solid #000000;  
background:transparent;
width:275px;
padding:8px 0 4px 0;
font-size:12px;
color:#000000;
font-weight:bold;
font-family:'roboto', serif;
}
.input-container input:focus{ 
border:none;	
outline:none;
border-bottom:1px solid #000000;	
}


.input-container input:focus ~ label,
.input-container input:valid ~ label{
top:-12px;
font-size:12px;

}

/* loading animation*/
*{
  margin: 0;
  padding: 0;
}

.loading-screen{
   width: 1330px;
   height: 650px;
   background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
   position: absolute;
   top: -10px;
   left: -10px;
   display: none; /* Initially hidden */
   align-items: center;
   justify-content: center;
   z-index: 1000; /* Ensure it is on top of other elements */
  
}

.loading{
  width: 85px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}

@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}

.loading span{
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 3px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale{
  50%{
    transform: scale(1.2);
  }
}

.loading span:nth-child(1){
  border-radius: 50% 50% 0 50%;
  background-color: #0bdaff;
  transform-origin: bottom right;
}

.loading span:nth-child(2){
  border-radius: 50% 50% 50% 0;
  background-color: #0bdaff;
  transform-origin: bottom left;
  animation-delay: .5s;
}

.loading span:nth-child(3){
  border-radius: 50% 0 50% 50%;
  background-color:#0bdaff ;
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4){
  border-radius: 0 50% 50% 50%;
  background-color: #0bdaff;
  transform-origin: top left;
  animation-delay: 1s;
}
