body {
  background: #00ce7c; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
  position: relative;
  top: 230px;
  font-family: Arial, sans-serif;
}

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  animation: bounce 2s ease-in-out infinite;
  position: relative;
}

.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #FFFFFF;
  animation: scale 1s ease-in-out;
}

.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #00ce7c;
  transform: rotate(-45deg);
}

.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid #FFFFFF;
}

.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #00ce7c;
}

.sticker {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0;
}

.sticker-1 {
  top: -10px;
  left: 35px;
  animation: sticker-animation 2s ease-in-out 0.5s forwards;
}

.sticker-2 {
  top: 20px;
  left: -10px;
  animation: sticker-animation 2s ease-in-out 0.75s forwards;
}

.sticker-3 {
  top: 20px;
  right: -10px;
  animation: sticker-animation 2s ease-in-out 1s forwards;
}

.sticker-4 {
  top: 50px;
  left: 35px;
  animation: sticker-animation 2s ease-in-out 1.25s forwards;
}

.submitted-text {
  font-size: 24px;
  color: white;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards, fadeOut 2s forwards;
  animation-delay: 1s, 5s;
  font-weight:bold;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes sticker-animation {
  0% {
    opacity: 0;
    transform: scale(0) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(-20px);
  }
}

a i {
  position: absolute;
  top: -210px;
  left: 20px;
  color: black;
}
